<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\style.css">
    <title>Détection de Masque Facial</title>
</head>
<body>
    <h1>Détection de Masque Facial</h1>
    <form action="/" method="post" enctype="multipart/form-data" style="text-align: center; margin-top: 20px;">
        <label for="file">Choisissez une image :</label>
        <input type="file" name="file" id="file" accept=".jpg, .jpeg, .png" required>
        <br>
        <input type="submit" value="Prédire">
    </form>

    <div id="image-preview" style="text-align: center; margin-top: 20px;">
        {% if uploaded_file %}
            <p>Image téléchargée :</p>
            <img src="{{ uploaded_file }}" alt="Image téléchargée">
        {% endif %}
    </div>

    <div id="result" style="text-align: center; margin-top: 20px; font-weight: bold;">
        {% if result %}
            {{ result }}
        {% endif %}
    </div>
</body>
</html>

